{
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"jsdocUseInlineCommentForASingleTagBlock": true,
	"plugins": ["@homer0/prettier-plugin-jsdoc"],
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true
}
